{% extends '../../base.html' %}

{% block body %}
<div id="location"><a href="/">首页</a> &gt; <a href="/list?type=1">护肤</a> &gt; </div>

<div id="itembox">	
	<div class="left info">
		<div class="message msg-alt">
			<div class="msg-button">
				<a href="#" class="btn btn-love">					
					<span class="love">喜欢它</span>
				</a>
			</div>
			<div class="msg-content">
				<h3>喜欢这个宝贝？</h3>
				<p>现在加入你的心愿单吧！</p>
			</div>
		</div>
		
		<h1>圆领T恤(短袖)C UNIQLO优衣库正品代购</h1>

        <ul id="thumb">
            <li class="hand"><img src="{{ static_url('pictures/img/s01_1.jpg') }}"/></li>
            <li class="hand"><img src="{{ static_url('pictures/img/s01_1.jpg') }}"/></li>
            <li class="hand"><img src="{{ static_url('pictures/img/s01_1.jpg') }}"/></li>
        </ul>
		
		<div id="pic">
			<img src="{{ static_url('pictures/img/s01.jpg') }}"/>
		</div>	
		
		<div id="description">
			<p>
			     酒庄给人的第一印象是他的现代，现代化的办公室、现代化的厂房，深入看下去还有他们现代化的管理。尽管他们创建于上个世纪的81年代，可谓葡萄酒界的新生代，但凭借着原来酒庄杜老历史的底蕴，加上庄主SALVATORE和VINZIA DI GAETANO夫妇超前的眼光，紧跟时代的管理理念，他们将传统与现代完美地结合。	
            </p>
			<p>
				Check out my shop for different colors! Don't see you favorite color? Contact me and we can discuss the possibilities!
			</p>			
			<p>
                 酒庄给人的第一印象是他的现代，现代化的办公室、现代化的厂房，深入看下去还有他们现代化的管理。尽管他们创建于上个世纪的81年代，可谓葡萄酒界的新生代，但凭借着原来酒庄杜老历史的底蕴，加上庄主SALVATORE和VINZIA DI GAETANO夫妇超前的眼光，紧跟时代的管理理念，他们将传统与现代完美地结合。  
            </p>
            <p>
                Check out my shop for different colors! Don't see you favorite color? Contact me and we can discuss the possibilities!
            </p>
		</div>
	</div>
	
	<div class="right part">
		<div class="price">
			¥ 201.00
		</div>
		<div class="action">
			<div class="buy_button">
				<a href="#" class="btn btn-green"><span class="buy">去淘宝网购买</span></a>
			</div>
			<div class="love_button">
				<a href="#" class="btn btn-love btn-small"><span class="love">喜欢它</span></a>
			</div>		 
		</div>
		
		<div class="panel section">
			<h3><a href="#">也许你也喜欢：</a></h3>
			
			<ul class="guess">
				<li><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="65" height="65"/></a></li>
				<li><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="65" height="65"/></a></li>
				<li><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="65" height="65"/></a></li>
				<li><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="65" height="65"/></a></li>
				<li><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="65" height="65"/></a></li>
				<li><a href="/item/R809001001/maybe" class="more">18<span>个</span></a></li>
				<div class="clear"></div>
			</ul>
			
			<div class="spaceline"></div>
			
			<h3>分享给：</h3>
			<ul class="share">
				<li><a href="#" class="sina">新浪微博</a></li>
				<li><a href="#" class="renren">人人网</a></li>
				<li><a href="#" class="qq">腾讯微博</a></li>
			</ul>
			
			<div class="spaceline"></div>
			
			<h3><a href="/item/R809001001/love" class="loving">看看有谁喜欢它？</a></h3>
            <div class="clear">
            </div>
		</div>

        <div class="price">
            ¥ 201.00
        </div>		
		<div class="action">
            <div class="buy_button">
                <a href="#" class="btn btn-green"><span class="buy">去淘宝网购买</span></a>
            </div>
            <div class="love_button">
                <a href="#" class="btn btn-love btn-small"><span class="love">喜欢它</span></a>
            </div>       
        </div>
		
	</div>

	<div class="clear"></div>
</div>    

{% end %}