{% extends '../../base.html' %}
{% block body %}
<div id="location">
    <a href="/">首页</a>
    &gt; <a href="/list?type=1">护肤</a>
    &gt; <a href="/item/R809001001">圆领T恤(短袖)C UNIQLO优衣库正品代购</a>
    &gt;
</div>
<div id="itembox">
<h1>心愿单 
    <font class="gray">
        有51个人喜欢它
    </font>
</h1>
	
    <div class="secondary">
        <div class="panel panel-listing">
            <a href="/item/R809001001" class="listing-image" title="圆领T恤(短袖)C UNIQLO优衣库正品代购"><img src="{{ static_url('pictures/img/10.jpg') }}" alt="圆领T恤(短袖)C UNIQLO优衣库正品代购"/></a>
            <div class="panel-listing-inner">
                <p class="listing-title">
                	<a href="/item/R809001001" class="red">圆领T恤(短袖)C UNIQLO优衣库正品代购</a>
                </p>
				<p class="listing-price">
					¥ 201.00
				</p>
            </div>
        </div>
		
		<div class="panel-quiet">			
			<a href="#" class="btn btn-love btn-small"><span class="love">喜欢它</span></a>
			<p>
                <a href="/item/R809001001/maybe">也许你也会喜欢这些宝贝</a><font class="gray">(51个)</font>
            </p>
		</div>
    </div>
	
	<div class="primary">
		<dl class="users">
			<dt>
				<div class="user-avatar"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="64" height="64"/></a></div>
				<div class="user-name"><a href="/people/sputnik">Sputnik</a></div>
				<div class="user-info">分享了<b>128</b>件宝贝</div>
				<div class="user-follow"><a href="#" class="red">＋关注</a></div>
			</dt>
			<dd>
				<div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
			</dd>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <a href="/people/sputnik/love" class="more">5519<span>个</span></a>
            </dd>                       					
		</dl>
		
        <dl class="users">
            <dt>
                <div class="user-avatar"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="64" height="64"/></a></div>
                <div class="user-name"><a href="#">Sputnik</a></div>
                <div class="user-info">分享了<b>128</b>件宝贝</div>
                <div class="user-follow"><a href="#" class="red">＋关注</a></div>
            </dt>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <a href="#" class="more">21<span>个</span></a>
            </dd>                                              
        </dl>		
		
        <dl class="users">
            <dt>
                <div class="user-avatar"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="64" height="64"/></a></div>
                <div class="user-name"><a href="#">Sputnik</a></div>
                <div class="user-info">分享了<b>128</b>件宝贝</div>
                <div class="user-follow"><a href="#" class="red">＋关注</a></div>
            </dt>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <a href="#" class="more">73<span>个</span></a>
            </dd>                       
        </dl>	
		
        <dl class="users">
            <dt>
                <div class="user-avatar"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="64" height="64"/></a></div>
                <div class="user-name"><a href="/people/shaguar">慈恩大师</a></div>
                <div class="user-info">分享了<b>128</b>件宝贝</div>
                <div class="user-follow"><a href="#" class="red">＋关注</a></div>
            </dt>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <a href="/people/shaguar/love" class="more">73<span>个</span></a>
            </dd>                       
        </dl>
		
       <dl class="users">
            <dt>
                <div class="user-avatar"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="64" height="64"/></a></div>
                <div class="user-name"><a href="#">慈恩大师</a></div>
                <div class="user-info">分享了<b>128</b>件宝贝</div>
                <div class="user-follow"><a href="#" class="red">＋关注</a></div>
            </dt>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <a href="#" class="more">73<span>个</span></a>
            </dd>                       
        </dl>   
		
       <dl class="users">
            <dt>
                <div class="user-avatar"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="64" height="64"/></a></div>
                <div class="user-name"><a href="#">慈恩大师</a></div>
                <div class="user-info">分享了<b>128</b>件宝贝</div>
                <div class="user-follow"><a href="#" class="red">＋关注</a></div>
            </dt>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <div class="image-wrapper"><a href="#"><img src="{{ static_url('pictures/img/s01_1.jpg') }}" width="84" height="84"/></a></div>
            </dd>
            <dd>
                <a href="#" class="more">73<span>个</span></a>
            </dd>                       
        </dl>   				   			
	</div>
</div>
{% end %}