{% extends '../../base.html' %}
{% block body %}
<div id="location">
    <a href="/">首页</a>
    &gt; <a href="#">护肤</a>
    &gt; <a href="/item/R809001001">圆领T恤(短袖)C UNIQLO优衣库正品代购</a>
    &gt;
</div>
<div id="itembox">
<h1>
	也许你也喜欢下面这些宝贝
	<font class="gray">
		18个
	</font>
</h1>
	
<div id="ppbox">        
        <dl>
            <dt>
                <a href="/item/R809001001"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/1.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>圆领T恤(短袖)C UNIQLO优衣库正品代购<span>￥149</span></h4></a></dd>
            <dd class="desc">很百搭的一款呐，她家的衣服就是简约。这家代购都是去实体店买来的，百分百正品。</dd>
            <a class="love tbn-favorite" href="http://127.0.0.1:8001/sign-up"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/2.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>霓光幻影吊带雪纺连衣裙<span>￥89</span></h4></a></dd>
            <dd class="desc">刚收到这款衣服了，穿上去相当的不错（自我感觉），给大家个建议，我胸围87cm，穿这款刚合适呢~~</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/3.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>夏装新品细节气质女人味蕾丝镂空修身连衣裙<span>￥198</span></h4></a></dd>
            <dd class="desc">面料柔软，贴身穿非常舒服，而且价格也不贵，最主要的是客服人都非常好，给5分</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/4.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>波西米亚风棉布碎花拼接两穿连衣裙<span>￥138</span></h4></a></dd>
            <dd class="desc">灰色看起来很好看，这个款式我很喜欢，简约大方，均码的而且还有弹力，我有点的胖胖的可以穿的吧？</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/5.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>野鹿 性感裹胸荷叶边系带绑带雪纺吊带连衣裙波西米亚长裙<span>￥79</span></h4></a></dd>
            <dd class="desc">这款衣服驼色实物比图片好看，妈妈挺喜欢的，说穿上去挺舒服的，正适合现在穿，一点都不比外面大商场的差，会经常关注你家的~</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/6.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>星琦舞 立领飞袖短袖衬衫裙 VQ5771 爆款 超值，热销 卖疯了<span>￥49</span></h4></a></dd>
            <dd class="desc">均码的，我穿有点小了，给我妹穿正好，质量不错，她挺喜欢的。</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/7.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>2011新款夏装韩版公主修身蝙蝠袖豹纹女装短袖连衣裙子<span>￥119</span></h4></a></dd>
            <dd class="desc">图片拍的很单调，不过衣服质量很不错，刚好还蛮合身的呢。</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/8.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>梦妮21047雪纺荷叶领连衣裙 <span>￥129</span></h4></a></dd>
            <dd class="desc">衣服款式很简单，发货速度很快，前天晚上订的货，今天就能收到了，物流也很快，值得我关注。</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/9.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>韩版渐变色花边波西米亚连衣裙 <span>￥138</span></h4></a></dd>
            <dd class="desc">很百搭的一款呐，她家的衣服就是简约。这家代购都是去实体店买来的，百分百正品。</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/10.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>星崎舞甜美纯色公主连衣裙三色 货到付款 热卖 女装 <span>￥57</span></h4></a></dd>
            <dd class="desc">很百搭的一款呐，她家的衣服就是简约。这家代购都是去实体店买来的，百分百正品。</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/11.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>全棉多穿无袖裙<span>￥1199</span></h4></a></dd>
            <dd class="desc">很百搭的一款呐，她家的衣服就是简约。这家代购都是去实体店买来的，百分百正品。</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/12.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>Reflection生如夏花冰丝雪纺印花连衣裙<span>￥149</span></h4></a></dd>
            <dd class="desc">很百搭的一款呐，她家的衣服就是简约。这家代购都是去实体店买来的，百分百正品。</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/13.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>百搭 原创 2011春装修身丝绒真丝连衣裙子<span>￥299</span></h4></a></dd>
            <dd class="desc">很百搭的一款呐，她家的衣服就是简约。这家代购都是去实体店买来的，百分百正品。</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/14.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>都市甜美连衣裙<span>￥119</span></h4></a></dd>
            <dd class="desc">很百搭的一款呐，她家的衣服就是简约。这家代购都是去实体店买来的，百分百正品。</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/15.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>背心裙 时尚条纹拼接口袋背心裙<span>￥58</span></h4></a></dd>
            <dd class="desc">很百搭的一款呐，她家的衣服就是简约。这家代购都是去实体店买来的，百分百正品。</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/16.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>STRIPE 收腰连衣裙 蓝白条加黑色<span>￥119</span></h4></a></dd>
            <dd class="desc">很百搭的一款呐，她家的衣服就是简约。这家代购都是去实体店买来的，百分百正品。</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/17.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>阿一服饰 中式改良 刺绣 荷花 盘扣 连衣裙<span>￥218</span></h4></a></dd>
            <dd class="desc">很百搭的一款呐，她家的衣服就是简约。这家代购都是去实体店买来的，百分百正品。</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/18.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>优衣坊 韩版圆领短袖拼色雪纺连身裙<span>￥59</span></h4></a></dd>
            <dd class="desc">很百搭的一款呐，她家的衣服就是简约。这家代购都是去实体店买来的，百分百正品。</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>

        <dl>
            <dt>
                <a href="#1"><img src="{{ static_url('ui/img/dot.gif') }}" original="{{ static_url('pictures/img/19.jpg') }}"></a>
            </dt>
            <dd><a href="#1" class="red name"><h4>简约双排扣连衣裙 紫色<span>￥79</span></h4></a></dd>
            <dd class="desc">很百搭的一款呐，她家的衣服就是简约。这家代购都是去实体店买来的，百分百正品。</dd>
            <a href="#3" class="love tbn-favorite"></a>
        </dl>
    </div>	
</div>

<script type="text/javascript"> 
    SKD.loader.require('class.delayLoad');
    SKD.loader.require('ui.dialog.v1', function() {
        SKD.global.dialog('.tbn-favorite');
    }); 
</script>
{% end %}