<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base target="main">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<title>控制面板</title>
{% include "static.html" %}
</head>
<body>
<div id="head_wrapper">
    <div class="bd">
    <ul id="mainNav" class="hd">
        <li><a href="{{ context.options.admin_url }}/home" class="active">控制面板</a></li>      
        <li><a href="{{ context.options.admin_url }}/order">订单</a></li>
        <li><a href="{{ context.options.admin_url }}/custorm">客户</a></li>
        <li><a href="{{ context.options.admin_url }}/product">产品</a></li>
        <li><a href="{{ context.options.admin_url }}/system">系统</a></li>
        <li class="right"><a onclick="javascript:parent.location.href= '/';">回首页</a></li>
    </ul>
    </div>
</div>            
</body>
</html>