<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />     
    <meta name="keywords" content="{{escape(context.keywords)}}" />
    <meta name="description" content="{{escape(context.description[0:200])}}" />
    <title>{{escape(context.title + context.options.title_suffix if context.title else context.options.default_title)}}</title>
    {% include "includes/static.html" %}
</head>
<body>
<div id="top">
    <a class="top_logo" href="/" title="回首页"><h1>LOGO</h1></a>
</div>
<div id="container" class="clearfix">   
    {% block body %}{% end %}
    <div class="clear"></div>
    {% include "includes/footer.html" %}
</div>
{% include "includes/bottom.html" %}
</body>
</html>